name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yml

  node-versions:
    uses: panva/.github/.github/workflows/node-versions.yml@main
    with:
      min: 14

  test:
    needs:
      - build
      - node-versions
    strategy:
      fail-fast: false
      matrix:
        node-version: ${{ fromJSON(needs.node-versions.outputs.matrix) }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup node
        id: node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          check-latest: true
      - run: npm install --global npm@8
        if: ${{ startsWith(steps.node.outputs.node-version, 'v12') || startsWith(steps.node.outputs.node-version, 'v14') }}
      - name: Install dependencies
        run: npm clean-install
      - name: Load cached dist
        uses: actions/cache@v4
        id: dist
        with:
          path: dist
          key: ${{ needs.build.outputs.cache-key }}
          fail-on-cache-miss: true
      - run: npm run test

  test-deno:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v1.x
      - name: Load cached dist
        uses: actions/cache@v4
        id: dist
        with:
          path: dist
          key: ${{ needs.build.outputs.cache-key }}
          fail-on-cache-miss: true
      - name: Test Deno Definitions
        run: npm run test-deno -- --no-run
      - name: Test Deno
        run: npm run test-deno -- --no-check
      - run: git reset HEAD --hard

  test-electron:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Install dependencies
        run: npm clean-install
      - name: Load cached dist
        uses: actions/cache@v4
        id: dist
        with:
          path: dist
          key: ${{ needs.build.outputs.cache-key }}
          fail-on-cache-miss: true
      - name: Install Electron
        run: npm install --global xvfb-maybe electron@latest
      - name: Test Electron crypto
        run: xvfb-maybe electron ./test/.electron
      - run: git reset HEAD --hard
